fastapi==0.103.0
uvicorn==0.23.2
torchcrepe==0.0.21
matplotlib==3.7.2
numpy==1.24.4
python-multipart==0.0.6 # apparently for fileupload
# crepe
# numpy>=1.14.0
# scipy>=1.0.0
# matplotlib>=2.1.0
# resampy>=0.2.0,<0.3.0
# h5py
# hmmlearn>=0.2.8,<0.3.0
# imageio>=2.3.0
# scikit-learn>=0.16